footer{
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
 }
 
 body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    min-width: 100%;
    flex-direction: column;
 }
 
 header{
   background-color: #000000;
   color: white;
   padding: 20px;
   
 }
 
 li.currentPage{
   background-color:aquamarine;
 }
 
 nav ul{
   list-style-type: none;
   margin: 0px;
   padding : 12px 0px;
   background-color:azure;
 }
 
 nav ul li{
   display: inline;
   padding: 12px 16px;
 }
 
 nav ul li a{
   text-decoration: none;
   /* color: ; */
 }
 
 nav ul li:hover {
   background-color: #7fffd4;
 }
 
 form{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
 .size-select {
   display: flex;
 }
 
 label{
   display: block;
 }
 
 input[type="text"], select {
  width: 200px;
  padding: 5px;
  margin: 15px;
 }
 
 input[type="radio"] {
  margin-left: 16px;
 }
 
 input[type="submit"] {
  background-color: #000000;
  color: #f0ffff;
  padding: 10px 20px;
  border: none;
  cursor: cell;
 }